<!DOCTYPE html>
<html ng-app="plandecoupe" ng-controller="Config">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf8"/>
    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="addflow/addflow.js" charset="utf-8"></script>
    <script src="plandecoupe.js"></script>
    <script src="fit.js"></script>
    <script src="utilities.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/packery/1.4.3/packery.pkgd.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="style.css">
    
  </head>
  <body class="enyo-unselectable">
  <div class="form">
  <p class="form-title">Parametres</p>
  <p class="form-field"  > 
    <span class="form-item">Largeur</span><input ng-change="changeConfig()" ng-model="config.width" type="number" style="text-align:right;width:50px;" id="width" value="62"/> <br>
    <span class="form-item">Hauteur</span><input ng-change="changeConfig()" ng-model="config.height" type="number" style="text-align:right;width:50px;" id="height" value="260"/> <br>
    <span class="form-item">Direction</span><select ng-change="changeConfig()" ng-model="config.direction" id="direction"> <option value="w">Largeur</option><option value="h">Hauteur</option></select> <br>
    <span class="form-item">Unites</span><select ng-change="changeConfig()" ng-model="config.units" id="units"> <option value="i">Impérialles</option><option value="m">Métriques</option></select> <br>
    <span class="form-item">Snap</span><input  ng-change="changeConfig()" ng-model="config.snap" type="checkbox">Snapper aux coins</input> <br>
    <span class="form-item">Zoom</span><select ng-change="changeConfig()" ng-model="config.zoom" > 
      <option value="1">100%</option>
      <option value="2">200%</option>
      <option value="0.5">50%</option>
      <option value="0.25">25%</option>
      <option value="Fit">Tout</option>
    </select> 
  </p>
  <p > 
    <label class="form-item">Pieces</label> 
    <button ng-click="addPiece()">+</button>
  <table >
    <thead><th>Nom</th><th>Largeur</th><th>Hauteur</th><th>Nombre</th><th/><thead>
    <tr ng-repeat="piece in pieces">
    <td><input style="width:50px" ng-change="changePiece()" ng-model="piece.name"</td>
    <td><input style="width:50px" ng-change="changePiece()"  ng-model="piece.width"</td>
    <td><input style="width:50px" ng-change="changePiece()" ng-model="piece.height"</td>
    <td><input style="width:50px" ng-change="changePiece()" ng-model="piece.count"</td>
    <td><button  ng-click="removePiece($index)">-</button></td>
    </tr> 
  </table>
  <button ng-click="placeAll()";">Dessiner le Plan de coupe</button>
  </div>
  <h1>Plan de coupe {{config.width}}x{{config.height}}</h1>
  <div id="div1" style="border-style: solid; width: 900px; height: 500px; overflow: auto;">
    <canvas id="canvas" width="900" height="500">*** THIS BROWSER DOES NOT SUPPORT THE CANVAS ELEMENT ***</canvas>
  </div>
  <button onclick="showAsImage()">Ouvrir comme une image</button>
  </body>
</html>
